<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ _('Afrilog, leader dans le domaine du transport et de la logistique, Page de connexion') }}">
    <meta name="keywords" content="{{ _('Afrilog, Logistique, Transit, Transport, Afrique, Niger, Europe, Asie, 
    Amérique, Oceanie, Maritime, Aérien, Terrestre, Containeurs, Marchandises, Commerce, Santé, Défencse, Technologie, 
    Equipement, MSC, Connexion, Utilisateur, Portail') }}">
    {% include 'includes/inc_top.html' %}
    <title>{% block title %}{{ _('Afrilog : Se connecter') }}{% endblock %}</title>
</head>
<body class="h-full">
    <main>{% block content %}{% endblock %}</main>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const flashMessage = document.querySelector('.flash-message');
            if (flashMessage) {
                flashMessage.style.display = 'block';
                setTimeout(() => {
                    flashMessage.style.display = 'none';
                }, 5000);
            }
        });
    </script>
</body>
</html>