{% extends 'auth/layout.html' %}
{% block title %}{{ _('Afrilog : Créer un nouveau compte') }}{% endblock %}    
{% block content %}
<!-- component -->
<div class="flex h-screen">
  <!-- Left Pane -->
  <div class="lg:flex items-center justify-center flex-1 bg-white text-black">
    <img src="{{ url_for('static', filename='img/entry/Work_7.jpg') }}" alt="{{ _('productif image') }}">
  </div>
  <!-- Right Pane -->
  <div class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center">
    <div class="max-w-md w-full p-6">
      <h1 class="text-3xl mb-6 text-black text-center">{{ _('Créer un nouveau compte') }}</h1>
      <h1 class="text-sm  mb-6 text-gray-500 text-center">
        {{ _('Rejoignez notre communauté et suivez-nous') }}
      </h1>
      <div class="mt-4 flex flex-col lg:flex-row items-center justify-between">
        <div class="w-full mb-2 lg:mb-0">
          <button type="button" class="w-full flex justify-center items-center gap-2 bg-white text-sm text-gray-600 p-2 rounded-md hover:bg-gray-50 border border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 transition-colors duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4" id="google">
              <path fill="#fbbb00" d="M113.47 309.408 95.648 375.94l-65.139 1.378C11.042 341.211 0 299.9 0 256c0-42.451 10.324-82.483 28.624-117.732h.014L86.63 148.9l25.404 57.644c-5.317 15.501-8.215 32.141-8.215 49.456.002 18.792 3.406 36.797 9.651 53.408z"></path>
              <path fill="#518ef8" d="M507.527 208.176C510.467 223.662 512 239.655 512 256c0 18.328-1.927 36.206-5.598 53.451-12.462 58.683-45.025 109.925-90.134 146.187l-.014-.014-73.044-3.727-10.338-64.535c29.932-17.554 53.324-45.025 65.646-77.911h-136.89V208.176h245.899z"></path>
              <path fill="#28b446" d="m416.253 455.624.014.014C372.396 490.901 316.666 512 256 512c-97.491 0-182.252-54.491-225.491-134.681l82.961-67.91c21.619 57.698 77.278 98.771 142.53 98.771 28.047 0 54.323-7.582 76.87-20.818l83.383 68.262z"></path>
              <path fill="#f14336" d="m419.404 58.936-82.933 67.896C313.136 112.246 285.552 103.82 256 103.82c-66.729 0-123.429 42.957-143.965 102.724l-83.397-68.276h-.014C71.23 56.123 157.06 0 256 0c62.115 0 119.068 22.126 163.404 58.936z"></path>
            </svg>
            {{ _('Continuer avec Google') }}
          </button>
        </div>
      </div>

      <div class="py-2"></div>

      <form class="space-y-6" action="{{ url_for('auth.signup') }}" method="POST" id="SignUpForm">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">{{ _('Adresse E-mail') }}</label>
          <div class="relative">
            <input
              id="email"
              type="email"
              placeholder="{{ _('Adresse E-mail') }}"
              class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary"
            />

            <span class="absolute right-4 top-4">
              <svg
                class="fill-current"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5">
                  <path
                    d="M19.2516 3.30005H2.75156C1.58281 3.30005 0.585938 4.26255 0.585938 5.46567V16.6032C0.585938 17.7719 1.54844 18.7688 2.75156 18.7688H19.2516C20.4203 18.7688 21.4172 17.8063 21.4172 16.6032V5.4313C21.4172 4.26255 20.4203 3.30005 19.2516 3.30005ZM19.2516 4.84692C19.2859 4.84692 19.3203 4.84692 19.3547 4.84692L11.0016 10.2094L2.64844 4.84692C2.68281 4.84692 2.71719 4.84692 2.75156 4.84692H19.2516ZM19.2516 17.1532H2.75156C2.40781 17.1532 2.13281 16.8782 2.13281 16.5344V6.35942L10.1766 11.5157C10.4172 11.6875 10.6922 11.7563 10.9672 11.7563C11.2422 11.7563 11.5172 11.6875 11.7578 11.5157L19.8016 6.35942V16.5688C19.8703 16.9125 19.5953 17.1532 19.2516 17.1532Z"
                    fill=""
                  />
                </g>
              </svg>
            </span>
          </div>
        </div>

        <div class="hidden text-red-600" id="invalidEmailAdress">
          {{ _('Adresse e-mail invalide') }}
        </div>

        <div class="hidden text-red-600" id="emptyEmailAdress">
          {{ _('Adresse e-mail requise!') }}
        </div>

        <div class="hidden text-red-600" id="accountAlreadyExists">
          {{ _('Votre compte existe déja!') }}
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">{{ _('Créer Mot de Passe') }}</label>
            <div class="text-sm">
              <a href="" class="text-blue-600 hover:text-blue-500">{{ _('Au moins 08 caractères') }}</a>
            </div>
          </div>
          <div class="relative">
            <input
              id="password"
              type="password"
              placeholder="{{ _('Mot de passe') }}"
              class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary"
            />

            <span class="absolute right-4 top-4">
              <svg
                class="fill-current"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5">
                  <path
                    d="M16.1547 6.80626V5.91251C16.1547 3.16251 14.0922 0.825009 11.4797 0.618759C10.0359 0.481259 8.59219 0.996884 7.52656 1.95938C6.46094 2.92188 5.84219 4.29688 5.84219 5.70626V6.80626C3.84844 7.18438 2.33594 8.93751 2.33594 11.0688V17.2906C2.33594 19.5594 4.19219 21.3813 6.42656 21.3813H15.5016C17.7703 21.3813 19.6266 19.525 19.6266 17.2563V11C19.6609 8.93751 18.1484 7.21876 16.1547 6.80626ZM8.55781 3.09376C9.31406 2.40626 10.3109 2.06251 11.3422 2.16563C13.1641 2.33751 14.6078 3.98751 14.6078 5.91251V6.70313H7.38906V5.67188C7.38906 4.70938 7.80156 3.78126 8.55781 3.09376ZM18.1141 17.2906C18.1141 18.7 16.9453 19.8688 15.5359 19.8688H6.46094C5.05156 19.8688 3.91719 18.7344 3.91719 17.325V11.0688C3.91719 9.52189 5.15469 8.28438 6.70156 8.28438H15.2953C16.8422 8.28438 18.1141 9.52188 18.1141 11V17.2906Z"
                    fill=""
                  />
                  <path
                    d="M10.9977 11.8594C10.5852 11.8594 10.207 12.2031 10.207 12.65V16.2594C10.207 16.6719 10.5508 17.05 10.9977 17.05C11.4102 17.05 11.7883 16.7063 11.7883 16.2594V12.6156C11.7883 12.2031 11.4102 11.8594 10.9977 11.8594Z"
                    fill=""
                  />
                </g>
              </svg>
            </span>
          </div>
        </div>

        <div class="hidden text-red-600" id="emptyPassword">
          {{ _('Mot de passe requis!') }}
        </div>

        <div class="hidden text-red-600" id="invalidPassword">
          {{ _('Un mot de passe doit contenir au moins 08 caractères!') }}
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="confirm_password" class="block text-sm font-medium leading-6 text-gray-900">{{ _('Confirmer Mot de Passe') }}</label>
          </div>
          <div class="relative">
            <input
              id="confirm_password"
              type="password"
              placeholder="{{ _('Confirmer Mot de Passe') }}"
              class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary"
            />
          </div>
        </div>
        
        <div class="hidden text-red-600" id="passwordNotMatch">
          {{ _('Les deux mots de passe ne correspondent pas') }}
        </div>

        <div class="hidden text-red-600" id="emptyConfirmPassword">
          {{ _('Confirmation requise pour continuer!') }}
        </div>
        
        <p>
          {{ _('En continuant vous aviez lu et accepté nos') }} <a href="{{ url_for('main.cgu') }}" class="text-blue-600 hover:text-blue-500">{{ _("conditions générales d'utilisation.") }}</a>
        </p>
  
        <div>
          <button type="button" class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 relative" id="SubmitButton">
            <svg class="animate-spin h-5 w-5 mr-3 hidden" viewBox="0 0 24 24">
              <circle cx="12" cy="12" r="10" stroke="white" stroke-width="4" fill="none" />
            </svg>
            <span id="buttonText"> {{ _("Continuer") }}</span>
          </button>
        </div>

      </form>
      <div class="mt-4 text-sm text-gray-600 text-center">
        <p>
          {{ _("Avez-vous déja un compte?") }}
        <a href="{{ url_for('auth.login') }}" class="leading-6 text-blue-600 hover:text-blue-500">{{ _('Connectez vous ici') }}</a>
        </p>
      </div>
    </div>
  </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/async/auth/SignUp.js') }}"></script>
{% endblock %}