<div class="col-lg-8 col-md-6 mb-md-0 mb-4">
  <div class="card">
      <div class="card-header pb-0">
          <div class="row">
              <div class="col-lg-6 col-7">
                  <h6>
                      {{ _('Factures') }}
                  </h6>
              </div>
              <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                      <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-v text-secondary"></i>
                      </a>
                      <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                          <li>
                              <a class="dropdown-item border-radius-md" href="javascript:;">
                                  {{ _('Partager') }}
                              </a>
                          </li>
                          <li>
                              <a class="dropdown-item border-radius-md" href="javascript:;">
                                  {{ _('Exporter') }}
                              </a>
                          </li>
                          <li>
                              <a class="dropdown-item border-radius-md" href="javascript:;">
                                  {{ _('Télécharger') }}
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="card-body px-0 pb-2">
        {% if invoices %}
          {% for invoice in invoices %}
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ _('ID') }}</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{ _('Titre') }}</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ _('Montant') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="px-2 py-1">
                        {{ invoice.id }}
                      </div>
                    </td>
                    <td>
                      <div class="px-2 py-1">
                        {{ invoice.title }}
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <div class="px-2 py-1">
                        {{ invoice.amount }}
                      </div>
                    </td>
                  </tr>        
                </tbody>
              </table>
            </div>
          {% endfor %}
        {% else %}
          {% include 'views/empty/no_invoice.html' %}
        {% endif %}
      </div>
    </div>
  </div>
