<div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
        <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">weekend</i>
            </div>
            <div class="text-end pt-1">
                <p class="text-sm mb-0">
                    {{ _("Recettes de cette semaine") }}
                </p>
                <h4 class="mb-0">${{ summary.current_week_fees | round(2) }}</h4>
            </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
            <p class="mb-0">
                <span class="text-{{ 'success' if summary.percentage_difference >= 0 else 'danger' }} text-sm font-weight-bolder">
                    {{ summary.percentage_difference | round(2) }}%
                </span>
                {{ _('par rapport à la semaine passée') }}
            </p>
        </div>
    </div>    
</div>