{% extends 'main/layout.html' %}
{% block head %}
  {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ _('Afrilog, leader dans le domaine du transport et de la logistique') }}">
    <meta name="keywords" content="{{ _('Afrilog, Logistique, Transit, Transport, Afrique, Niger, Europe, Asie, 
    Amérique, Oceanie, Maritime, Aérien, Terrestre, Containeurs, Marchandises, Commerce, Santé, Défense, Technologie, 
    Équipement, MSC, Import, Export, Groupage') }}">
    <meta name="author" content="{{ _('Afrilog SARL') }}">
  {% endblock %}
    <title>{% block title %}{{ _('Afrilog: Leader dans le transport et la logistique') }}{% endblock %}</title>
  {% block styles %}

    <!-- pagedone css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagedone.css') }}">

    <!-- tailwind output css -->
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">

    <!-- custom home css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customs/home/home.css') }}">
    
    <!-- bootstrap-icons-->
    <link rel="stylesheet" href="{{ url_for('static', filename='icons/font/bootstrap-icons.min.css') }}">
    
    <!-- tel input css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.10/build/css/intlTelInput.css"> 

    <!-- flags css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"
    />
     
  {% endblock %}
{% endblock %}
{% block body %}
  <body>
    <main>
      {% block content %}
        {% include 'main/cookies-consent.html' %}
        <!-- hero section -->
        <section class="lg:pt-20 pt-0  lg:pl-8 h-full hero-afrilog-bg">
          <div
            class="rounded-2xl bg-indigo-50 overflow-hidden m-5 lg:m-0 2xl:py-16 xl:py-8  lg:rounded-tl-2xl lg:rounded-bl-2xl ">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
              <div class="grid grid-cols-1 gap-14 items-center lg:grid-cols-12 lg:gap32">
                <div class="w-full xl:col-span-5 lg:col-span-6 2xl:-mx-5 xl:-mx-0">
                  <h1 class="py-8 text-center text-gray-900 font-bold font-manrope text-5xl lg:text-left leading-[70px]">
                    {{ _("404") }}
                  </h1>
                  <p class=" text-gray-500 text-lg text-center lg:text-left">
                    {{ _('Désolé nous n\'avons pas pu trouver cette page') }}
                  </p>
                  <div class="mt-10 flex items-center justify-start gap-x-6">
                        <a href="{{ url_for('main.home') }}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            {{ _('Retour') }}
                        </a>
                        <a href="support@afrilog.net">
                            {{ _("Demander de l'aide") }}
                        </a>
                  </div>
                </div>
                <div class="w-full xl:col-span-7  lg:col-span-6 block">
                  <div class="w-full  sm:w-auto lg:w-[60.8125rem] xl:ml-16">
                    <img src="{{ (url_for('static', filename='img/hero-image.png')) }}" alt="{{ _('Logistics woman') }}"
                      class="w-full  lg:h-auto rounded-lg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end hero section -->

        <div class="pattern_1"></div>

      {% endblock %}
    </main>
  {% block scripts %}
    
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const categoryMegamenuParent = document.querySelector('#category-megamenu-parent');
        const categoryMegamenu = document.querySelector('#category-megamenu');
        const resourcesMegamenu = document.querySelector('#resources-megamenu')
        const collapseToggle = document.querySelector('[data-collapse-toggle="megamenu-full-width"]');
        const megamenuFullWidth = document.querySelector('#megamenu-full-width');
        const navLinks = document.querySelector('.nav-links');

        categoryMegamenuParent.addEventListener('click', () => {
          categoryMegamenu.classList.toggle('active');
        });

        collapseToggle.addEventListener('click', () => {
          megamenuFullWidth.classList.toggle('active');
          resourcesMegamenu.classList.toggle('active')
          navLinks.classList.toggle('hidden');
        });
      })

      function toggleDropdown() {
        const dropdownMenu = document.getElementById('dropdown');
        dropdownMenu.classList.toggle('hidden');
      }


    </script>

    <script>
      function setCookie(name, value, days) {
          let expires = "";
          if (days) {
              const date = new Date();
              date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
              expires = "; expires=" + date.toUTCString();
          }
          document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }

      function getCookie(name) {
          const nameEQ = name + "=";
          const ca = document.cookie.split(';');
          for (let i = 0; i < ca.length; i++) {
              let c = ca[i];
              while (c.charAt(0) == ' ') c = c.substring(1, c.length);
              if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
          }
          return null;
      }

      function acceptCookies() {
          setCookie('cookieConsent', 'accepted', 365);
          document.getElementById('cookieConsent').style.display = 'none';
      }

      window.onload = function() {
          if (!getCookie('cookieConsent')) {
              document.getElementById('cookieConsent').style.display = 'flex';
          }
      };
    </script>
    

    <!-- tel input js -->
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.10/build/js/intlTelInput.min.js"></script>

    <!-- sendQuote.js-->
    <script src="{{ url_for('static', filename='js/async/api/customers/Messages/SendQuote.js') }}"></script>


    <!-- three module.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    
      
    <!-- globe.js -->
    <script type="module" src="{{ url_for('static', filename='js/vfx/globe/globe.js') }}"></script>
    
    <!-- pagedone.js -->
    <script type="module" src="{{ url_for('static', filename='js/lib/plugins/pagedone.js') }}"></script>
  {% endblock %}


  </body>
{% endblock %}
