<div class="px-4 text-center">
    <img class="d-block mx-auto mb-4 img-fluid" src="{{ url_for('static', filename='img/feedbacks/sitting-8@2x.png') }}" alt="{{ _('Aucun email à afficher image') }}" width="400">
    <h1 class="display-5 text-body-emphasis">{{ _('Aucune facture à afficher') }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        {{ _("Vos factures vont s'afficher ici") }}
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button class="btn btn-info btn-lg px-4 gap-3" data-bs-toggle="modal" data-bs-target="#CreateInvoiceModal">
          <i class="bi bi-plus-circle-dotted"></i>
          <span class="ms-2">
            Créer une nouvelle facture
          </span>
        </button>
      </div>
    </div>
</div>