{% extends 'main/layout.html' %}
{% block head %}
    <head>
        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="{{ _('Découvrez nos services de fret aérien') }}">
            <meta name="keywords" content="{{ _('Transport, Logistique, Fret, aérien, Equipement, Container, Europe, Afrique, Oceanie, Chine') }}">
            <meta content="author"  name="Afrilog SARL">
        {% endblock %}
        {% block title %}<title>{{ _('Afrilog : Fret aérien') }}</title>{% endblock %}
    </head>
{% endblock %}
<body>
    <main>
        {% block content %}
        
        <!-- hero section -->
        <section class="lg:pt-20 pt-0 lg:pl-8 h-full">
            <div class="rounded-2xl bg-indigo-50 py-10 overflow-hidden m-5 lg:m-0 2xl:py-16 xl:py-8 lg:rounded-tl-2xl lg:rounded-bl-2xl">
              <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-14 items-center lg:grid-cols-12 lg:gap-32">
                  <div class="w-full xl:col-span-5 lg:col-span-6 2xl:-mx-5 xl:-mx-0">
                    <h1 class="py-8 text-center text-gray-900 font-manrope text-5xl lg:text-left leading-[70px]">
                      {{ _("Fret aérien") }}
                    </h1>
                    <p class="text-gray-500 text-lg text-center lg:text-left">
                        {{ _("Le fret aérien est la solution idéale pour le transport rapide et sécurisé de vos marchandises à l'échelle mondiale. Offrant des temps de transit réduits et une flexibilité inégalée, il permet de répondre efficacement aux exigences de délais stricts et aux demandes urgentes. Nos services de fret aérien garantissent une gestion optimale de vos envois, de la prise en charge à la livraison, assurant la rapidité et la fiabilité de chaque expédition. Découvrez comment nous pouvons accélérer votre chaîne d'approvisionnement et renforcer votre avantage concurrentiel grâce à nos solutions de fret aérien de pointe.") }}
                    </p>
                    </p>
                    <div
                      class="relative p-1.5 my-10  flex  items-center gap-y-4 h-auto md:h-16 flex-col md:flex-row justify-between rounded-full md:shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)]">
                        <a href="#SalesContact"
                            class="bg-blue-800 rounded-full py-3 px-7 text-base font-semibold text-white hover:bg-blue-700 cursor-pointer transition-all duration-500 md:w-fit w-full">
                            {{ _('Service commercial') }}
                        </a>
                    </div>
                  </div>
                  <div class="w-full xl:col-span-7 lg:col-span-6 block">
                    <div class="w-full sm:w-auto lg:w-[60.8125rem] xl:ml-16">
                      <img src="{{ url_for('static', filename='img/jumbo-jet-flying-sky.jpg') }}" alt="{{ _('fret aérien') }}" class="w-full lg:h-auto">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>          
        <!-- end hero section -->

        <div class="pattern_1"></div>

        <!-- pricing grids -->
        <h2 class="text-center text-gray-700 mt-10 mb-10 text-5xl leading-[70px] py-8">{{ _('Notre grille tarifaire pour le fret aérien') }}</h2>
        <h5 class="text-start text-gray-600 mt-2 ms-5 mb-10 leading-[50px] pt-4">{{ _('A partir de la France') }}</h5>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="min-w-full inline-block align-middle">
                    <div class="overflow-hidden border rounded-lg border-gray-300">
                        <table class="min-w-full rounded-xl">
                            <thead>
                                <tr class="bg-gray-50">
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Compagnie') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Aéroport de départ') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Aéroport d\'arrivée') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Incoterm') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Devise') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">+45 Kgs</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">+100 Kgs</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">+300 Kgs</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">+500 Kgs</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">+1000 Kgs</th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-300">
                                <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">Royal Air Maroc</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">CDG</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">NIM</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">FOB</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">EURO</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">-</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('8,70') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('8,70') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('8,70') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('8,70') }}</td>
                                </tr>
                                <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">DHL Aviation</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">CDG</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">NIM</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">FOB</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">EURO</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">-</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('9,15') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('7,75') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('7,25') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('7,10') }}</td>
                                </tr>
                                <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">Air France</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">CDG</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">NIM</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">FOB</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">EURO</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('18,34') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('14,23') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('13,59') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('13,23') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('12,86') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

          <h5 class="text-start text-gray-600 mt-2 ms-5 mb-10 leading-[50px] pt-4">{{ _('A partir de la Chine') }}</h5>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="min-w-full inline-block align-middle">
                    <div class="overflow-hidden border rounded-lg border-gray-300">
                        <table class="min-w-full rounded-xl">
                            <thead>
                                <tr class="bg-gray-50">
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Aéroport de départ') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Aéroport d\'arrivée') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">+100 Kgs</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">+300 Kgs</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">+500 Kgs</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">+1000 Kgs</th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-300">
                                <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">PVG</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">NIM</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('15,06') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('15,06') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('14,91') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('14,91') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

          <h5 class="text-start text-gray-600 mt-2 ms-5 mb-10 leading-[50px] pt-4">{{ _('A partir de Tel Aviv (Israel)') }}</h5>
          <div class="flex flex-col">
              <div class="overflow-x-auto">
                  <div class="min-w-full inline-block align-middle">
                      <div class="overflow-hidden border rounded-lg border-gray-300">
                          <table class="min-w-full rounded-xl">
                              <thead>
                                  <tr class="bg-gray-50">
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Poids Net') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Prix par Kgs') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Devise') }}</th>
                                  </tr>
                              </thead>
                              <tbody class="divide-y divide-gray-300">
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+45 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('16,45 USD/Kg') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+100 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('13,00 USD/Kg') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+300 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('13,85 USD/Kg') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+500 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('13,00 USD/Kg') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+1000 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('13,00 USD') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>

            <h5 class="text-start text-gray-600 mt-2 ms-5 mb-10 leading-[50px] pt-4">{{ _('A partir du Canada') }}</h5>
          <div class="flex flex-col">
              <div class="overflow-x-auto">
                  <div class="min-w-full inline-block align-middle">
                      <div class="overflow-hidden border rounded-lg border-gray-300">
                          <table class="min-w-full rounded-xl">
                              <thead>
                                  <tr class="bg-gray-50">
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Poids Net') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Prix par Kgs') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Devise') }}</th>
                                  </tr>
                              </thead>
                              <tbody class="divide-y divide-gray-300">
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+45 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('15,55 USD/Kg') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+100 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('13,45 USD/Kg') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+300 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('12,95 USD/Kg') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+500 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('12,25 USD/Kg') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+1000 Kgs</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('12,00 USD') }}</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>

            <h5 class="text-start text-gray-600 mt-2 ms-5 mb-10 leading-[50px] pt-4">{{ _('A partir de l\'Inde') }}</h5>
            <div class="flex flex-col">
                <div class="overflow-x-auto">
                    <div class="min-w-full inline-block align-middle">
                        <div class="overflow-hidden border rounded-lg border-gray-300">
                            <table class="min-w-full rounded-xl">
                                <thead>
                                    <tr class="bg-gray-50">
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Poids Net') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Prix par Kgs') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Devise') }}</th>
                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-300">
                                    <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">-45 Kgs</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('15,70 USD/Kg') }}</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                    </tr>
                                    <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+45 Kgs</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('17,63 USD/Kg') }}</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                    </tr>
                                    <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+100 Kgs</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('16,55 USD/Kg') }}</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                    </tr>
                                    <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+300 Kgs</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('15,50 USD/Kg') }}</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                    </tr>
                                    <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">+500 Kgs</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('13,90 USD/Kg') }}</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>

          

          <!-- Footer -->
          <div class="py-5"></div>

          <div class="p-5 text-center text-sm text-gray-600">
            {{ _('Pour plus d\'infos veuillez contacter notre ') }}<a href="mailto:infos@afrilog.net" class="text-indigo-500 hover:text-indigo-700" style="text-decoration: underline;">{{ ('service client') }}</a>.
            {{ _('Veuillez noter que les tarifs seront mis à jour dès l\'obtention des informations réelles sur les marchandises, les formalités exports ainsi que le Pick up seotn déterminés au cas par cas en fonction de la localisation du fournisseur. La validité des tarifs est d\'une (01) semaine pour le fret aérien et un (01) mois pour le fret maritime') }}
          </div>



        {% include 'main/testimonial.html' %}

        <div class="pattern_1"></div>

        {% include 'main/contact.html' %}

        <div class="pattern_2"></div>


        {% endblock %}

    </main>
</body>