{% extends 'main/layout.html' %}
  {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ _('Afrilog, leader dans le domaine du transport et de la logistique') }}">
    <meta name="keywords" content="{{ _('Afrilog, Logistique, Transit, Transport, Afrique, Niger, Europe, Asie, 
    Amérique, Oceanie, Maritime, Aérien, Terrestre, Containeurs, Marchandises, Commerce, Santé, Défense, Technologie, 
    Équipement, MSC, Import, Export, Groupage') }}">
    <meta name="author" content="{{ _('Afrilog SARL') }}">
  {% endblock %}
    {% block title %}{{ _('Afrilog: Leader dans le transport et la logistique') }}{% endblock %}
  <body>
    <main>
      {% block content %}
        {% include 'main/cookies-consent.html' %}
        <!-- hero section -->
        <section class="lg:pt-20 pt-0  lg:pl-8 h-full">
          <div
            class="rounded-2xl bg-indigo-50 overflow-hidden m-5 lg:m-0 2xl:py-16 xl:py-8  lg:rounded-tl-2xl lg:rounded-bl-2xl ">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
              <div class="grid grid-cols-1 gap-14 items-center lg:grid-cols-12 lg:gap32">
                <div class="w-full xl:col-span-5 lg:col-span-6 2xl:-mx-5 xl:-mx-0">
                  <div class="flex items-center text-sm font-medium text-gray-500 justify-center lg:justify-start">
                    <span class="bg-blue-800 py-1 px-3 rounded-2xl text-xs font-medium text-white mr-3 ">#7</span>
                    {{ _('Logistics company in Africa') }}
                  </div>
                  <h1 class="py-8 text-center text-gray-900 font-bold font-manrope text-5xl lg:text-left leading-[70px]">
                    {{ _('Leader dans la') }} <span class="text-blue-800">{{ _('logistique') }}</span> {{ (_('et le')) }}
                    <span class="text-blue-800">{{ _('transport') }}</span>
                  </h1>
                  <p class=" text-gray-500 text-lg text-center lg:text-left">
                    {{ _('Nous fournissons des solutions logistiques innovantes et fiables pour répondre à tous vos besoins de transport et de transit. Faites confiance à notre expertise pour optimiser votre chaîne d\'approvisionnement.') }}
                  </p>
                  <div
                    class="relative p-1.5 my-10  flex  items-center gap-y-4 h-auto md:h-16 flex-col md:flex-row justify-between rounded-full md:shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)] border border-transparent md:bg-white transition-all duration-500 hover:border-indigo-600 focus-within:border-indigo-600">
                    <input type="text" name="email" placeholder="{{ _('Entrer votre identifiant ou N° de suivi...') }}"
                      class="text-base rounded-full text-gray-900 flex-1 py-4 px-6 shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)] md:shadow-none bg-white md:bg-transparent shadow-none placeholder:text-gray-400 focus:outline-none md:w-fit w-full" />
                    <a
                      href="{{ url_for('main.user_home') }}"
                      class="bg-blue-800 rounded-full py-3 px-7 text-base font-semibold text-white hover:bg-blue-700 cursor-pointer transition-all duration-500 md:w-fit w-full">
                      {{ _('Continuer') }}
                    </a>
                  </div>
                </div>
                <div class="w-full xl:col-span-7  lg:col-span-6 block">
                  <div class="w-full  sm:w-auto lg:w-[60.8125rem] xl:ml-16">
                    <img src="{{ (url_for('static', filename='img/hero-image.png')) }}" alt="{{ _('Logistics woman') }}"
                      class="w-full  lg:h-auto rounded-lg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end hero section -->


        <!-- logo cloud section -->
        <section id="PartnerSection" class="bg-white py-24 sm:py-32">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">{{ _('Nous ont fait confiance') }}</h2>
            <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
              <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor" width="158" height="48">
              <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform" width="158" height="48">
              <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple" width="158" height="48">
              <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="158" height="48">
              <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158" height="48">
            </div>
          </div>
        </section>      
        <!-- end logo cloud section -->

        <div class="pattern_1"></div>

        <!-- cta section -->
        <div class="bg-white">
          <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
            <div class="relative isolate overflow-hidden bg-blue-700 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
              <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
                <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
                <defs>
                  <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                    <stop stop-color="#7775D6" />
                    <stop offset="1" stop-color="#E935C1" />
                  </radialGradient>
                </defs>
              </svg>
              <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
                <h2 class="text-3xl tracking-tight text-white sm:text-4xl">{{ _('Une vision nouvelle pour la logistique et le transport') }}</h2>
                <p class="mt-6 text-lg leading-8 text-white">
                  {{ _("Nous apportons une approche novatrice à la chaîne logistique, au transit et à l'import-export. Nos services sont conçus pour répondre aux besoins spécifiques de nos clients et aux défis de la globalisation des échanges.") }}
                </p>
              </div>
              <div class="relative mt-16 h-80 lg:mt-8">
                <img class="absolute left-0 top-0 w-[57rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10" src="{{ url_for('static', filename='img/aerial-view-cargo-ship-cargo-container-harbor.jpg')}}" alt="Vue aérienne du port et des conteneurs" width="1824" height="1080">
              </div>
            </div>
          </div>
        </div>
        <!-- end cta section -->  
        
        <div class="pattern_1"></div>

        
        <!-- features section -->
        <div class="overflow-hidden bg-white py-24 sm:py-32">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
              <div class="lg:pr-8 lg:pt-4">
                <div class="lg:max-w-lg">
                  <h2 class="text-base font-semibold leading-7 text-indigo-600">
                    {{ _('Nos valeurs fondamentales') }}
                  </h2>
                  <p class="mt-2 text-3xl   tracking-tight text-gray-900 sm:text-4xl">
                    {{ _('Ce qui nous guide') }}
                  </p>
                  <p class="mt-6 text-lg leading-8 text-gray-600">
                    {{ _('Les valeurs fondamentales de notre entreprise définissent notre engagement envers nos clients et partenaires, en assurant un service de qualité exceptionnelle.') }}
                  </p>
                  <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                    <div class="relative pl-9">
                      <dt class="inline font-semibold text-gray-900">
                        <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                        </svg>
                        {{ _('Innovation continue.') }}
                      </dt>
                      <dd class="inline">{{ _('Nous investissons constamment dans de nouvelles technologies pour améliorer nos services et répondre aux besoins évolutifs de nos clients.') }}</dd>
                    </div>
                    <div class="relative pl-9">
                      <dt class="inline font-semibold text-gray-900">
                        <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                        </svg>
                        {{ _('Sécurité et fiabilité.') }}
                      </dt>
                      <dd class="inline">
                        {{ _('Nous assurons la sécurité de vos marchandises à chaque étape de la chaîne logistique grâce à des systèmes robustes et fiables.') }}
                      </dd>
                    </div>
                    <div class="relative pl-9">
                      <dt class="inline font-semibold text-gray-900">
                        <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                          <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                        </svg>
                        {{  _('Excellence opérationnelle.')}}
                      </dt>
                      <dd class="inline">
                        {{ _('Nous nous efforçons d’atteindre l’excellence dans toutes nos opérations pour garantir la satisfaction de nos clients et partenaires.') }}
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
              <img src="{{ url_for('static', filename='img/doordash-Tx6ECTpx8pI-unsplash.jpg') }}" alt="{{ _('femme souriante') }}" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
            </div>
          </div>
        </div>
        <!-- end features section -->

        <!-- header section -->
        <div class="relative isolate overflow-hidden py-24 bg-blue-700 sm:py-32">
          <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
          <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
              <h2 class="text-4xl   tracking-tight text-white sm:text-6xl" translate="no">
                {{ _('Travaillez avec nous') }}
              </h2>
              <p class="mt-6 text-lg leading-8 text-white" translate="no">
                {{ _("Nous apportons une approche novatrice à la chaîne logistique, au transit et à l'import-export. Nos services sont conçus pour répondre aux besoins spécifiques de nos clients et aux défis de la globalisation des échanges.") }}
              </p>
            </div>
            <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
              <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
                <a href="#" translate="no">
                  {{ _('Postes vacants') }}
                  <span aria-hidden="true">&rarr;</span>
                </a>
                <a href="#" translate="no">
                  {{ _('Nos valeurs') }}
                  <span aria-hidden="true">&rarr;</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- end header section -->

        {% include 'main/stats.html' %}

        <!-- 3D Globe section -->
        {% include 'main/globle.html' %}
        <!-- end 3D Globe section -->

        {% include 'main/testimonial.html' %}

        <!-- blog section -->
        <div class="bg-gray-300 py-24 sm:py-32">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
              <h2 class="text-3xl   tracking-tight text-gray-900 sm:text-4xl">{{ _('Depuis le blog') }}</h2>
              <p class="mt-2 text-lg leading-8 text-gray-600">{{ _('Apprenez à optimiser votre logistique et à améliorer l\'efficacité grâce à nos conseils d\'experts.') }}</p>
            </div>
            <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
              <article class="flex max-w-xl flex-col items-start justify-between">
                <div class="flex items-center gap-x-4 text-xs">
                  <time datetime="2023-05-10" class="text-gray-500" translate="no">{{ _('10 mai 2023') }}</time>
                  <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Logistique</a>
                </div>
                <div class="group relative">
                  <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      {{ _('Améliorer l\'efficacité de la chaîne d\'approvisionnement') }}
                    </a>
                  </h3>
                  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                    {{ _('Découvrez des stratégies pour rationaliser votre chaîne d\'approvisionnement et réduire les coûts. Nos experts partagent des informations sur les dernières technologies et les meilleures pratiques en gestion logistique.') }}
                  </p>
                </div>
                <div class="relative mt-8 flex items-center gap-x-4">
                  <img src="https://images.unsplash.com/photo-1555685812-4b7432ac8b35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                  <div class="text-sm leading-6">
                    <p class="font-semibold text-gray-900">
                      <a href="#">
                        <span class="absolute inset-0"></span>
                        {{ _('Alex Johnson') }}
                      </a>
                    </p>
                    <p class="text-gray-600">
                      {{ _('Expert en logistique') }}
                    </p>
                  </div>
                </div>
              </article>
              <article class="flex max-w-xl flex-col items-start justify-between">
                <div class="flex items-center gap-x-4 text-xs">
                  <time datetime="2023-04-18" class="text-gray-500" translate="no">
                    {{ _('18 avr. 2023') }}
                  </time>
                  <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{ _('Chaîne d\'approvisionnement') }}</a>
                </div>
                <div class="group relative">
                  <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      {{ _('Technologie logistique de pointe') }}
                    </a>
                  </h3>
                  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{ _('Explorez les dernières avancées en technologie logistique et comment elles peuvent améliorer les opérations de votre entreprise. De l\'IA à la blockchain, restez à la pointe avec nos insights d\'experts.') }}</p>
                </div>
                <div class="relative mt-8 flex items-center gap-x-4">
                  <img src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                  <div class="text-sm leading-6">
                    <p class="font-semibold text-gray-900">
                      <a href="#">
                        <span class="absolute inset-0"></span>
                        {{ _('Jamie Lee') }}
                      </a>
                    </p>
                    <p class="text-gray-600">{{ _('Innovateur technologique') }}</p>
                  </div>
                </div>
              </article>
              <article class="flex max-w-xl flex-col items-start justify-between">
                <div class="flex items-center gap-x-4 text-xs">
                  <time datetime="2023-03-22" class="text-gray-500" translate="no">{{ _('22 mar. 2023') }}</time>
                  <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{ _('Transport') }}</a>
                </div>
                <div class="group relative">
                  <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      {{ _('Solutions de transport durable') }}
                    </a>
                  </h3>
                  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                    {{ _('Découvrez des options de transport durable et comment elles peuvent bénéficier à votre entreprise et à l\'environnement. Notre guide couvre tout, des véhicules électriques aux pratiques logistiques écologiques.') }}
                  </p>
                </div>
                <div class="relative mt-8 flex items-center gap-x-4">
                  <img src="https://images.unsplash.com/photo-1542144612-1ba00456b5fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                  <div class="text-sm leading-6">
                    <p class="font-semibold text-gray-900">
                      <a href="#">
                        <span class="absolute inset-0"></span>
                        {{ _('Morgan Smith') }}
                      </a>
                    </p>
                    <p class="text-gray-600">{{ _('Consultant en durabilité') }}</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>        
        <!-- end blog section -->

        <div class="pattern_2"></div>

        {% include 'main/contact.html' %}
        
        <!-- newsletter section -->
        <div class="relative isolate overflow-hidden bg-blue-700 py-16 sm:py-24 lg:py-32">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
              <div class="max-w-xl lg:max-w-lg">
                <h2 class="text-3xl   tracking-tight text-white sm:text-4xl">{{ _('Abonnez-vous à notre newsletter') }}</h2>
                <p class="mt-4 text-lg leading-8 text-white">{{ _('Recevez les dernières nouvelles et mises à jour sur nos services logistiques directement dans votre boîte de réception.') }}</p>
                <div class="mt-6 flex max-w-md gap-x-4">
                  <label for="email-address" class="sr-only">{{ _('Adresse email') }}</label>
                  <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 bg-white px-3.5 py-2 text-gray-800 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="{{ _('Entrez votre email') }}">
                  <button type="submit" class="flex-none rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-blue-700 shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">{{ _("S'abonner") }}</button>
                </div>
              </div>
              <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
                <div class="flex flex-col items-start">
                  <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                  </div>
                  <dt class="mt-4 font-semibold text-white">{{ _('Articles hebdomadaires') }}</dt>
                  <dd class="mt-2 leading-7 text-white">{{ _('Des conseils et des informations exclusives sur la logistique pour optimiser vos opérations.') }}</dd>
                </div>
                <div class="flex flex-col items-start">
                  <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002" />
                    </svg>
                  </div>
                  <dt class="mt-4 font-semibold text-white">{{ _('Pas de spam') }}</dt>
                  <dd class="mt-2 leading-7 text-white">{{ _('Nous respectons votre vie privée. Recevez uniquement des informations pertinentes et utiles.') }}</dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
            <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
        </div>        
        <!-- end newsletter section -->

        <div class="pattern_1"></div>

      {% endblock %}
    </main>
  </body>