{% extends 'main/layout.html' %}
    <meta name="description" content="{{ _('Afrilog, leader dans le domaine du transport et de la logistique') }}">
    <meta name="keywords" content="{{ _('Afrilog, Logistique, Transit, Transport, Afrique, Niger, Europe, Asie, 
    Amérique, Oceanie, Maritime, Aérien, Terrestre, Containeurs, Marchandises, Commerce, Santé, Défense, Technologie, 
    Équipement, MSC, Import, Export, Groupage, Emploi, Opportunités') }}">
    <meta name="author" content="{{ _('Afrilog SARL') }}">
    {% block title %}{{ _('Afrilog: Offre d\'emplois') }}{% endblock %}
  <body>
    <main>
      {% block content %}

      <div class="py-12"></div>

      <div class="xl:py-28 md:py-20 py-10 xl:px-0 px-10">
        <span class="w-fit mx-auto flex items-center justify-center bg-emerald-50 rounded-full text-emerald-600 text-center text-sm font-medium leading-5 px-3 py-1 mb-5">
            {{ _('Carrières à Afrilog') }}
        </span>
        <h1 class="text-gray-900 text-center font-manrope lg:text-5xl text-4xl leader-tight mb-8">
            {{ _('Explorez de nouvelles opportunités') }} <br>{{ ('de carrière chez Afrilog') }}
        </h1>
      </div>
      <div class="lg:py-24 md:py-16 py-10 bg-slate-50 xl:px-0 px-10">
        <h2 class="text-gray-900 text-center font-manrope lg:text-4xl text-3xl font-bold leading-10 mb-14"></h2>
        <div class="lg:max-w-3xl md:max-w-xl sm:max-w-md max-w-sm mx-auto border border-slate-200 bg-white rounded-2xl p-12">
            {% if job_openings %}
                {% for job in job_openings %}
                    <div class="flex justify-between gap-x-8 pb-6 border-b border-gray-200">
                        <h3 class="text-gray-900 text-xl font-medium leading-8">{{ job.title }}</h3>
                        <a  target="_blank" href="{{ url_for('api.apply_job', job_id=job.id) }}" class="w-20 h-9 rounded-full bg-indigo-50 hover:bg-indigo-100 transition-all duration-700 text-indigo-600 text-xs   leading-4">
                            {{ _('Postuler') }}
                        </a>
                    </div>
                {% endfor %}
                {% else %}
                    <p class="text-center">
                        {{ _('Aucune offre d\'emploi pour le moment.') }}
                    </p>
            {% endif %} 
            
        </div>

        

        

        <div class="py-12"></div>

        <div class="pattern_1"></div>

      </div>
      {% endblock %}
    </main>
  </body>