<!DOCTYPE html>
    <html lang="{{ get_locale() }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ _('Afrilog : Leader dans le domaine du Transport et de la Logistique') }}{% endblock %}</title>
        {% include 'includes/main/styles.html' %}
        <meta name="description" content="{{ _('Afrilog, leader dans le domaine du transport et de la logistique') }}">
        <meta name="keywords" content="{{ _('Afrilog, Logistique, Transit, Transport, Afrique, Niger, Europe, Asie, 
        Amérique, Oceanie, Maritime, Aérien, Terrestre, Containeurs, Marchandises, Commerce, Santé, Défense, Technologie, 
        Équipement, MSC, Import, Export, Groupage') }}">
        <meta name="author" content="{{ _('Afrilog SARL') }}">
    </head>
    <body>
        <main>
            {% include 'includes/header.html' %}
            {% block content %}{% endblock %}
            {% include 'includes/footer.html' %}
        </main>
        {% include 'includes/main/scripts.html' %}
    </body>
</html>