<!DOCTYPE html>
    <html lang="{{ get_locale() }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ _('Afrilog : Leader dans le domaine du Transport et de la Logistique') }}{% endblock %}</title>
        {% include 'includes/main/styles.html' %}
        {% block meta_tags %}{% endblock %}
    </head>
    <body>
        <main>
            {% include 'includes/header.html' %}
            {% block content %}{% endblock %}
            {% include 'includes/footer.html' %}
        </main>
        {% include 'includes/main/scripts.html' %}
    </body>
</html>