{% extends 'main/layout.html' %}
    <head>
        {% block title %}{{ _('Afrilog : Fret maritime') }}{% endblock %}
        {% block meta_tags %}
        <meta name="description" content="{{ _('Découvrez nos services de fret maritime') }}">
        <meta name="keywords" content="{{ _('Transport, Logistique, Fret, maritime, Equipement, Container, Europe, Afrique, Oceanie, Chine') }}">
        {% endblock %}
    </head>
<body>
    <main>
        {% block content %}
        
        <!-- hero section -->
        <section class="lg:pt-20 pt-0 lg:pl-8 h-full">
            <div class="rounded-2xl bg-indigo-50 py-10 overflow-hidden m-5 lg:m-0 2xl:py-16 xl:py-8 lg:rounded-tl-2xl lg:rounded-bl-2xl">
              <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-14 items-center lg:grid-cols-12 lg:gap-32">
                  <div class="w-full xl:col-span-5 lg:col-span-6 2xl:-mx-5 xl:-mx-0">
                    <h1 class="py-8 text-center text-gray-900 font-manrope text-5xl lg:text-left leading-[70px]">
                      {{ _("Fret maritime") }}
                    </h1>
                    <p class="text-gray-500 text-lg text-center lg:text-left">
                        {{ _("Le fret maritime est essentiel pour les échanges commerciaux internationaux, offrant des solutions efficaces pour le transport de grandes quantités de marchandises sur de longues distances. Grâce à une capacité de chargement importante et à des coûts de transport réduits, le fret maritime est une option privilégiée pour les entreprises cherchant à optimiser leurs chaînes d'approvisionnement. Découvrez comment nos services de fret maritime peuvent répondre à vos besoins de transport, en assurant la sécurité et la ponctualité de vos livraisons, même sur les routes les plus fréquentées.") }}
                    </p>
                    <div
                      class="relative p-1.5 my-10  flex  items-center gap-y-4 h-auto md:h-16 flex-col md:flex-row justify-between rounded-full md:shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)]">
                        <a href="#SalesContact"
                            class="bg-blue-800 rounded-full py-3 px-7 text-base font-semibold text-white hover:bg-blue-700 cursor-pointer transition-all duration-500 md:w-fit w-full">
                            {{ _('Service commercial') }}
                        </a>
                    </div>
                  </div>
                  <div class="w-full xl:col-span-7 lg:col-span-6 block">
                    <div class="w-full sm:w-auto lg:w-[60.8125rem] xl:ml-16">
                      <img src="{{ url_for('static', filename='img/aerial-view-container-cargo-ship-sea.jpg') }}" alt="{{ _('fret maritime') }}" class="w-full lg:h-auto">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>          
        <!-- end hero section -->

        <div class="pattern_1"></div>

        <!-- pricing grids -->
        <h2 class="text-center text-gray-700 mt-10 mb-10 text-5xl leading-[70px] py-8">{{ _('Notre grille tarifaire pour le fret maritime') }}</h2>
        <h5 class="text-start text-gray-600 mt-2 ms-5 mb-10 leading-[50px] pt-4">{{ _('A partir de Valencia (Espagne)') }}</h5>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="min-w-full inline-block align-middle">
                    <div class="overflow-hidden border rounded-lg border-gray-300">
                        <table class="min-w-full rounded-xl">
                            <thead>
                                <tr class="bg-gray-50">
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Type de Conteneur') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Prix par Kgs') }}</th>
                                    <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Devise') }}</th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-300">
                                <tr>
                                  <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">20' sec 25t</td>
                                  <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">1924</td>
                                  <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">EURO</td>
                                </tr>
                                <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">40' sec 25t</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">2553</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">EURO</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

          <h5 class="text-start text-gray-600 mt-2 ms-5 mb-10 leading-[50px] pt-4">{{ _('A partir de la France') }}</h5>
          <div class="flex flex-col">
              <div class="overflow-x-auto">
                  <div class="min-w-full inline-block align-middle">
                      <div class="overflow-hidden border rounded-lg border-gray-300">
                          <table class="min-w-full rounded-xl">
                              <thead>
                                  <tr class="bg-gray-50">
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Type de Conteneur') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Prix par Kgs') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Devise') }}</th>
                                  </tr>
                              </thead>
                              <tbody class="divide-y divide-gray-300">
                                  <tr>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">40'</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">2792</td>
                                    <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">EURO</td>
                                  </tr>
                                  <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">20'</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">2070</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">EURO</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>

            <h5 class="text-start text-gray-600 mt-2 ms-5 mb-10 leading-[50px] pt-4">{{ _('A partir de la Chine') }}</h5>
            <div class="flex flex-col">
                <div class="overflow-x-auto">
                    <div class="min-w-full inline-block align-middle">
                        <div class="overflow-hidden border rounded-lg border-gray-300">
                            <table class="min-w-full rounded-xl">
                                <thead>
                                  <tr class="bg-gray-50">
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Port de départ') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Port de débarquement') }}</th>
                                      <th scope="col" colspan="3" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('O/F(USD)') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('FT') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('T/T') }}</th>
                                  </tr>
                              </thead>
                              <tbody class="divide-y divide-gray-300">
                                  <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">Shanghai</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">Cotonou</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">1234</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">5678</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">91011</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">FT1</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">TT1</td>
                                  </tr>
                                  <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">Shanghai</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">Cotonou</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">1234</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">5678</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">91011</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">FT2</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">TT2</td>
                                  </tr>
                              </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>
              </div>

              <h5 class="text-start text-gray-600 mt-2 ms-5 mb-10 leading-[50px] pt-4">{{ _('A partir de l\' Inde') }}</h5>
            <div class="flex flex-col">
                <div class="overflow-x-auto">
                    <div class="min-w-full inline-block align-middle">
                        <div class="overflow-hidden border rounded-lg border-gray-300">
                            <table class="min-w-full rounded-xl">
                                <thead>
                                  <tr class="bg-gray-50">
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Type de conteneur') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Temps de transit') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Prix') }}</th>
                                      <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{ _('Devise') }}</th>
                                  </tr>
                              </thead>
                              <tbody class="divide-y divide-gray-300">
                                  <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">20' 25t</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('26 jours') }}</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">3650</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                                  <tr>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">40' 25t</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('26 jours') }}</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ _('5300') }}</td>
                                      <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">USD</td>
                                  </tr>
                              </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>
              </div>

          <!-- Footer -->
          <div class="py-5"></div>

          <div class="p-5 text-center text-sm text-gray-600">
            {{ _('Pour plus d\'infos veuillez contacter notre ') }}<a href="mailto:infos@afrilog.net" class="text-indigo-500 hover:text-indigo-700" style="text-decoration: underline;">{{ ('service client') }}</a>.
            {{ _('Veuillez noter que les tarifs seront mis à jour dès l\'obtention des informations réelles sur les marchandises, les formalités exports ainsi que le Pick up seotn déterminés au cas par cas en fonction de la localisation du fournisseur. La validité des tarifs est d\'une (01) semaine pour le fret aérien et un (01) mois pour le fret maritime') }}
          </div>


        {% include 'main/testimonial.html' %}

        <div class="pattern_1"></div>

        {% include 'main/contact.html' %}

        <div class="pattern_2"></div>


        {% endblock %}

    </main>
</body>