{% extends 'main/layout.html' %}
{% block head %}
    <head>
        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="{{ _('Découvrez nos services transit, manutention et transport') }}">
            <meta name="keywords" content="{{ _('Transport, Logistique, Fret, aérien, Equipement, Container, Europe, Afrique, Oceanie, Chine') }}">
            <meta content="author"  name="Afrilog SARL">
        {% endblock %}
        {% block title %}{{ _('Afrilog : Services de transit et manutention') }}{% endblock %}
    </head>
{% endblock %}
<body>
    <main>
        {% block content %}
        
        <!-- hero section -->
        <section class="lg:pt-20 pt-0 lg:pl-8 h-full">
            <div class="rounded-2xl bg-indigo-50 py-10 overflow-hidden m-5 lg:m-0 2xl:py-16 xl:py-8 lg:rounded-tl-2xl lg:rounded-bl-2xl">
              <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-14 items-center lg:grid-cols-12 lg:gap-32">
                  <div class="w-full xl:col-span-5 lg:col-span-6 2xl:-mx-5 xl:-mx-0">
                    <h1 class="py-8 text-center text-gray-900 font-manrope text-5xl lg:text-left leading-[70px]">
                      {{ _("Transit, manutention et transport") }}
                    </h1>
                    <p class="text-gray-500 text-lg text-center lg:text-left">
                        {{ _("Les services de transit, de manutention et de transport sont des services qui assurent la manutention, le stockage et/ou le transport de marchandises dans une certaine zone. Les services de transit, de manutention et de transport impliquent généralement l'emballage, l'étiquetage, la planification et la livraison des marchandises, ainsi que la gestion des formalités administratives associées au transport des marchandises. L’objectif principal des services de transit, de manutention et de transport est de garantir que les marchandises sont livrées à destination en toute sécurité et à temps.") }}
                    </p>
                    </p>
                    <div
                      class="relative p-1.5 my-10  flex  items-center gap-y-4 h-auto md:h-16 flex-col md:flex-row justify-between rounded-full md:shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)]">
                        <a href="#SalesContact"
                            class="bg-blue-800 rounded-full py-3 px-7 text-base font-semibold text-white hover:bg-blue-700 cursor-pointer transition-all duration-500 md:w-fit w-full">
                            {{ _('Service commercial') }}
                        </a>
                    </div>
                  </div>
                  <div class="w-full xl:col-span-7 lg:col-span-6 block">
                    <div class="w-full sm:w-auto lg:w-[60.8125rem] xl:ml-16">
                      <img src="{{ url_for('static', filename='img/aerial-view-cargo-ship-cargo-container-harbor.jpg') }}" alt="{{ _('transit&manutention') }}" class="w-full lg:h-auto">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>          
        <!-- end hero section -->

        <div class="pattern_1"></div>

        {% include 'main/pricing.html' %}

        <div class="pattern_1"></div>

        {% include 'main/stats.html' %}

        <div class="pattern_1"></div>



        {% include 'main/testimonial.html' %}


        <!-- 3D Globe section -->
        {% include 'main/globle.html' %}
        <!-- end 3D Globe section -->


        {% include 'main/contact.html' %}

        <div class="pattern_2"></div>


        {% endblock %}

    </main>
</body>