{% extends 'main/layout.html' %}
{% block head %}
    <head>
        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="{{ _('Calculatrice fret aérien') }}">
            <meta name="keywords" content="{{ _('Transport, Logistique, Fret, aérien, Equipement, Container, Europe, Afrique, Oceanie, Chine, Taxes, Douanes, Calculatrice, Approximation') }}">
            <meta content="author"  name="Afrilog SARL">
        {% endblock %}
        {% block title %}<title>{{ _('Afrilog : Résultats fret aérien') }}</title>{% endblock %}
        {% block styles %}
            <!-- pagedone css -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/pagedone.css') }}">

            <!-- tailwind output css -->
            <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">

            <!-- custom home css -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/customs/home/home.css') }}">
            
            <!-- bootstrap-icons-->
            <link rel="stylesheet" href="{{ url_for('static', filename='icons/font/bootstrap-icons.min.css') }}">
            
            <!-- tel input css -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.10/build/css/intlTelInput.css"> 

            <!-- flags css -->
            <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"
            />
        {% endblock %}
    </head>
{% endblock %}
<body>
    <main>
        {% block content %}

        <!-- hero section -->
        <div class="relative isolate px-6 pt-14 lg:px-8">
            <div class="mx-auto max-w-5xl py-32 sm:py-48 lg:py-56">
              <div class="text-center">
                <h1 class="text-4xl tracking-tight text-gray-900 sm:text-6xl">
                  {{ _('Tarifs de fret aérien') }}
                </h1>
                <div class="mt-10 flex flex-col lg:flex-row lg:items-center lg:justify-center lg:gap-x-6 gap-y-4">
                  <div class="w-full">
                    <ul id="rates-list" class="bg-white border border-gray-300 w-full mt-1 rounded-lg shadow-lg max-h-48 overflow-y-auto">
                      <!-- Rates will be appended here -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- end hero section -->



        <div class="pattern_1"></div>

        {% include 'main/stats.html' %}

        <div class="pattern_1"></div>



        {% include 'main/testimonial.html' %}


        <!-- 3D Globe section -->
        {% include 'main/globle.html' %}
        <!-- end 3D Globe section -->

        <div class="pattern_1"></div>

        {% include 'main/contact.html' %}

        <div class="pattern_2"></div>


        {% endblock %}

    </main>
    {% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const categoryMegamenuParent = document.querySelector('#category-megamenu-parent');
          const categoryMegamenu = document.querySelector('#category-megamenu');
          const collapseToggle = document.querySelector('[data-collapse-toggle="megamenu-full-width"]');
          const megamenuFullWidth = document.querySelector('#megamenu-full-width');
          const navLinks = document.querySelector('.nav-links');
  
          categoryMegamenuParent.addEventListener('click', () => {
            categoryMegamenu.classList.toggle('active');
          });
  
          collapseToggle.addEventListener('click', () => {
            megamenuFullWidth.classList.toggle('active');
            navLinks.classList.toggle('hidden');
          });
        })
  
        function toggleDropdown() {
          const dropdownMenu = document.getElementById('dropdown');
          dropdownMenu.classList.toggle('hidden');
        }
  
  
      </script>
      
  
      <!-- tel input js -->
      <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.10/build/js/intlTelInput.min.js"></script>
  
      <!-- sendQuote.js-->
      <script src="{{ url_for('static', filename='js/async/api/customers/Messages/SendQuote.js') }}"></script>

      <!-- three module.js-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  
      <!-- Globe.js -->
      <script type="module" src="{{ url_for('static', filename='js/vfx/globe/globe.js') }}"></script>

      <!-- AirShippingDisplayRates -->
      <script type="module" src="{{ url_for('static', filename='js/functions/shipping/air/DisplayRates.js') }}"></script>
  
      <!-- pagedone.js -->
      <script type="module" src="{{ url_for('static', filename='js/lib/plugins/pagedone.js') }}"></script>

      <!-- Address js -->
      <script type="module" src="{{ url_for('static', filename='js/functions/geocoding/places.js') }}"></script>

    {% endblock %}
</body>
