@import url("../../fonts.css");

*{
  font-family: 'Poppins', sans-serif;
}
.pattern_1{
  padding:5em 5em;
}
.pattern_2{
  background-image: url('../../../img/afrilog_pattern_2.png');
  padding:8em 8em;
}
.separator{
  padding:0 5em;
}
.pattern_1{
  background-image:url('../../../img/afrilog_pattern_1.png');
}


.iti { 
  width: 100%; 
}
.iti__selected-flag { 
  width: 100%; 
}

@media (max-width: 1024px) {
  #globe-container {
    width: 100%;
    height: 50%;
  }
}

.mega-menu, 
.dropdown-menu{
  display: none;
}

@media (min-width: 768px) {
  #resources-megamenu {
    width: 100%;
    max-width: none;
  }
}


/* Define media queries for common mobile device widths */
@media only screen and (max-width: 480px),
  only screen and (max-width: 767px),
  only screen and (max-width: 1024px) {
  /* Hide the navigation menu */
  #navigation-menu {
    display: none;
  }
  #navigation-menu li {
    font-size: 2.5rem;
    padding: 10px 15px;
  }
}
