<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/brand/apple-touch-icon.png') }}" sizes="180x180">
<link rel="icon" href="{{url_for('static', filename='media/favicons/favicon-32x32.png')}}" sizes="32x32" type="image/png">
<link rel="icon" href="{{url_for('static', filename='media/favicons/favicon-16x16.png')}}" sizes="16x16" type="image/png">
<link rel="icon" href="{{ url_for('static', filename='img/brand/apple-touch-icon.png')}}" type="image/png">

<!-- output css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

<!-- custom home css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/customs/home/home.css') }}">

<!-- tel input css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.10/build/css/intlTelInput.css"> 

<!-- flags css -->
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"
/>