<nav class="fixed top-0 left-0 right-0 border-gray-200 w-full border-b py-3 bg-white z-50  bg-inherit  border-b-default border-solid border-prime-gray-200 ">
  <div class="container mx-auto ">
    <div class="w-full flex  flex-col lg:flex-row">
      <div class=" flex justify-between  lg:flex-row">
        <a href="{{ url_for('main.home') }}" class="flex items-center">
          <img src="{{ url_for('static', filename='img/brand/logo.png') }}" alt="Afrilog logo" width="100">
        </a>
        <button data-collapse-toggle="navigation-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">
              {{ _('Ouvrir le menu') }}
          </span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <div class=" w-full lg:flex lg:pl-11 " id="navigation-menu">
        <div class="button-container flex flex-col md:flex-row items-center ml-auto">
          <a href="{{ url_for('main.user_home') }}" target="_blank" class="button py-2.5 px-6 text-sm bg-blue-700 text-white rounded-full cursor-pointer text-center shadow-xs transition-all duration-500 hover:bg-blue-700 md:ml-2">
            {{ _('Dashboard') }}
          </a>
          <a href="#" class="button py-2.5 px-6 text-sm cursor-pointer text-center shadow-xs transition-all duration-500 hover:bg--100 mb-2 md:mb-0 mr-0 md:mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#5f6368" class="inline-block align-middle mr-2">
              <path d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5t127.92 44.69q31.3 14.13 50.19 40.97Q800-292 800-254v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-306q-64-31-117-42.5T480-360q-57 0-111 11.5T252-306q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570-631q0-39-25.5-64.5T480-721q-39 0-64.5 25.5T390-631q0 39 25.5 64.5T480-541Zm0-90Zm0 411Z"/>
            </svg>
            <span class="inline-block align-middle">{{ current_user.email }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="#5f6368"><path d="M480-344 240-584l43-43 197 197 197-197 43 43-240 240Z"/></svg>
          </a>        
        </div>
      </div>
    </div>
  </div>
</nav>