{% extends 'dashboard/dashboard.html' %}
{% block title %}
    <title>
        {{ _('Rapport financier : Afrilog') }}
    </title>
{% endblock %}

{% block content %}

<div class="my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" href="#">
                    <i class="bi bi-house-door-fill"></i>
                    <span class="visually-hidden">{{ _('Accueil') }}</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                {{ _('Rapports') }}
            </li>
            <li class="breadcrumb-item active">
                {{ _('Rapport financier') }}
            </li>
        </ol>
    </nav>
</div>

<h2>
    Rapport financier
</h2>

{% endblock %}