{% extends 'dashboard/dashboard.html' %}
{% block title %}
    <title>{{ _('Notes récentes : Afrilog') }}</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex">
    <div class="my-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
          <li class="breadcrumb-item">
            <a class="link-body-emphasis" href="{{ url_for('main.user_home') }}">
              <i class="bi bi-house-fill"></i>
              <span class="visually-hidden">{{ _('Accueil') }}</span>
            </a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            {{ _('Notes') }}
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ _('Notes récentes') }}
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <h2>
    {{ _('Notes récentes') }}
  </h2>

  {% if previous_notes %}
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>{{ _('ID') }}</th>
                <th>{{ _('Titre') }}</th>
                <th>{{ _('Contenu') }}</th>
                <th>{{ _('Type') }}</th>
                <th>{{ _('Options') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for note in previous_notes %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.content }}</td>
                    {% if note.nature == 'Warning' %}
                      <span class="badge bg-warning">{{ note.nature }}</span>
                    {% elif note.nature == 'Information' %}
                      <span class="badge bg-success">{{ note.nature }}</span>
                    {% endif %}
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-link btn-sm btn-rounded dropdown-toggle" type="button" id="dropdownMenuButton{{ note.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ note.id }}">
                                <li>
                                    <button type="button" data-note-id="{{ note.id }}" class="dropdown-item edit-note">
                                      <i class="bi bi-pencil"></i> {{ _('Modifier') }}
                                    </button>
                                </li>
                                <li>
                                    <button type="button" data-note-id="{{ note.id }}" class="dropdown-item delete-note">
                                      <i class="bi bi-trash"></i> {{ _('Supprimer') }}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  {% else %}
    {% include 'api/@support_team/empty/no_notice.html' %}
  {% endif %}

  <!-- Edit Note Modal -->
  <div class="modal fade" id="EditNoteModal" tabindex="-1" aria-labelledby="EditNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditNoteModalLabel">{{ _('Modifier la note') }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editNoteForm" method="post">
            <div class="mb-3">
              <label for="EditNoteTitle" class="form-label">{{ _('Titre') }}</label>
              <input type="text" class="form-control" id="EditNoteTitle">
              <p class="text-danger" id="EditNoteTitleError" style="display: none;">{{ _('Veuillez donner un titre à votre note') }}</p>
            </div>
            <div class="mb-3">
              <label for="EditNoteContent" class="form-label">{{ _('Contenu') }}</label>
              <textarea class="form-control" id="EditNoteContent" rows="4"></textarea>
              <p class="text-danger" id="EditNoteContentError" style="display: none;">{{ _('Veuillez écrire le contenu de votre note') }}</p>
            </div>
            <div class="mb-3">
              <label for="EditNoteNature" class="form-label">{{ _('Nature') }}</label>
              <select id="EditNoteNature" class="form-select">
                <option value="Danger">{{ _('Avertissement') }}</option>
                <option value="Warning">{{ _('Information') }}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Annuler') }}</button>
          <button type="button" class="btn btn-info" id="editNoteButton">
            <span id="EditNoteText">{{ _('Mettre à jour') }}</span>
            <span id="EditLoadingText" style="display: none;">{{ _('En cours...') }}</span>
            <div class="spinner-border spinner-border-sm" style="display: none;"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5"></div>
<script type="module" src="{{ url_for('static', filename='js/async/api/@support_team/Notes/EditNote.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/async/api/@support_team/Notes/DeleteNote.js') }}"></script>
{% endblock %}
